fastapi
uvicorn[standard]
#psycopg2-binary
sqlalchemy
pgvector
h3
onnxruntime
langchain
langchain-openai
langchain-community
pillow
openai
python-multipart
requests
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
pydub
ffmpeg-python
transformers
torch
email-validator
